<div class="disclaimer">
	<b>Disclaimer:</b>
	<p>
		This is a test application to use during development of the package. For examples of the
		entire package, we refer to the
		<a
			href="https://stackblitz.com/edit/stackblitz-starters-am9x39?file=src%2Fapp.html"
			target="_blank"
			>StackBlitz example</a
		>
	</p>
</div>
<p *ngxHasFeature="'A'">I have the feature!</p>
<p *ngxHasPermission="'Admin'">I have the permission!</p>

<button *ngxIsAuthenticated="false" (click)="signIn()">Sign in</button>
<button *ngxIsAuthenticated="true" (click)="signOut()">Sign out</button>
