ngx-configurable-layout {
	background-color: rgb(242, 242, 242);
}

.layout-items {
	height: 100%;
	border: 1px solid black;
	padding: 15px;
	box-sizing: border-box;
}

label {
	display: inline-block;
	margin: 15px;
	&:first-of-type {
		margin-left: 0px;
	}
}

::ng-deep {
	.ngx-layout-item-inactive {
		opacity: 0.5;
		.layout-items {
			border-style: dashed;
		}
	}
}
