<div class="disclaimer">
	<b>Disclaimer:</b>
	<p>
		This is a test application to use during development of the package. For examples of the
		entire package, we refer to the
		<a
			href="https://stackblitz.com/edit/stackblitz-starters-psubyj?file=src%2Fmain.ts"
			target="_blank"
			>StackBlitz example</a
		>
	</p>
</div>

<hr />

<ngx-configurable-layout
	[allowDragAndDrop]="true"
	[keys]="[
		['1', '2'],
		['a', 'b']
	]"
>
	<ngx-configurable-layout-item key="a">
		<p class="layout-items large">Form key a</p>
	</ngx-configurable-layout-item>

	<ngx-configurable-layout-item key="b">
		<p class="layout-items">Form key b</p>
	</ngx-configurable-layout-item>

	<ngx-configurable-layout-item key="1">
		<p class="layout-items">Input key 1</p>
	</ngx-configurable-layout-item>

	<ngx-configurable-layout-item key="2">
		<p class="layout-items">Input key 2</p>
	</ngx-configurable-layout-item>
</ngx-configurable-layout>
