@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

h1,
h2,
h3 {
	font-family: 'Space Grotesk', sans-serif !important;
}

:root {
	--ng-doc-text-selection: rgba(187, 14, 253, 0.2);

	--ng-doc-link-color: #3858ca;

	--ng-doc-primary: #bd00ff;

	--ng-doc-guide-tag-background: #bd00ff;
	--ng-doc-guide-tag-color: white;
}

.ng-doc-header {
	background-image: linear-gradient(15deg, #bd00ff 40%, #3858ca);
	color: white;
	button:hover {
		background-color: rgba(78, 78, 78, 0.5);
	}
	svg {
		color: white;
	}
}

ng-doc-navbar {
	background: none !important;
}

.ng-doc-navigation-controls {
	border-image: linear-gradient(
			-90.97deg,
			#00cb9a 0.32%,
			#3858ca 29.01%,
			#38cfff 51.04%,
			#f872c2 98.69%
		)
		1;
	border-width: 2px 0 0 0 !important;
}

@media screen and (min-width: 1024px) {
	.ng-doc-header {
		svg {
			color: #9e9e9e;
		}
	}
}
