<div class="disclaimer">
	<b>Disclaimer:</b>
	<p>
		This is a test application to use during development of the package. For examples of the
		entire package, we refer to the
		<a
			href="https://stackblitz.com/edit/stackblitz-starters-psubyj?file=src%2Fmain.ts"
			target="_blank"
			>StackBlitz example</a
		>
	</p>
</div>

<hr />

<button (click)="sayHello()">Say hello!</button>
<button (click)="confirm()">Confirm!</button>

<ngx-accordion [open]="[1,4]">
	@for (item of testData; track $index; let index = $index) {
	<ngx-accordion-item [disabled]="index === 2">
		<ng-template #headerTmpl let-isOpen>
			{{item.title}} {{isOpen}}
		</ng-template>

		<ng-template #contentTmpl let-isOpen>
			{{item.content}}
		</ng-template>
	</ngx-accordion-item>
	}
</ngx-accordion>

<router-outlet />
