<div class="disclaimer">
	<b>Disclaimer:</b>
	<p>
		This is a test application to use during development of the package. For examples of the
		entire package, we refer to the
		<a
			href="https://stackblitz.com/edit/stackblitz-starters-psubyj?file=src%2Fmain.ts"
			target="_blank"
			>StackBlitz example</a
		>
	</p>
</div>

<hr />

<h1>Static</h1>
<ngx-configurable-layout
	layoutType="static"
	itemSize="equal"
	[keys]="[
		['1', '2'],
		['a', 'b']
	]"
	rowGap="10px"
	columnGap="10px"
>
	<ngx-configurable-layout-item key="a">
		<div class="layout-items large">Form key a</div>
	</ngx-configurable-layout-item>

	<ngx-configurable-layout-item key="b">
		<div class="layout-items">Form key b</div>
	</ngx-configurable-layout-item>

	<ngx-configurable-layout-item key="1">
		<div class="layout-items">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veritatis laudantium
			ut officia omnis, impedit eligendi, ea molestiae magnam odit et animi quod illo eius.
			Fuga nihil adipisci molestiae magni?
		</div>
	</ngx-configurable-layout-item>

	<ngx-configurable-layout-item key="2">
		<div class="layout-items">Input key 2</div>
	</ngx-configurable-layout-item>
</ngx-configurable-layout>

<h1>Editable</h1>

<label for="">
	<input type="checkbox" [formControl]="isActive" />
	Show inactive
</label>

<label for="">
	<input type="checkbox" [formControl]="dragAndDrop" />
	Drag and drop
</label>

<ngx-configurable-layout
	layoutType="editable"
	itemSize="equal"
	[formControl]="control"
	[showInactive]="isActive.value"
	[allowDragAndDrop]="dragAndDrop.value"
	rowGap="10px"
	columnGap="10px"
>
	<ngx-configurable-layout-item key="a">
		<div class="layout-items large">Form key a</div>
	</ngx-configurable-layout-item>

	<ngx-configurable-layout-item key="b">
		<div class="layout-items">Form key b</div>
	</ngx-configurable-layout-item>

	<ngx-configurable-layout-item key="1">
		<div class="layout-items">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum veritatis laudantium
			ut officia omnis, impedit eligendi, ea molestiae magnam odit et animi quod illo eius.
			Fuga nihil adipisci molestiae magni?
		</div>
	</ngx-configurable-layout-item>

	<ngx-configurable-layout-item key="2">
		<div class="layout-items">Input key 2</div>
	</ngx-configurable-layout-item>
</ngx-configurable-layout>
