<div class="disclaimer">
	<b>Disclaimer:</b>
	<p>
		This is a test application to use during development of the package. For examples of the
		entire package, we refer to the
		<a
			href="https://stackblitz.com/edit/stackblitz-starters-am9x39?file=src%2Fapp.html"
			target="_blank"
			>StackBlitz example</a
		>
	</p>
</div>

<app-wrapper [contentVisible]="isWrapperShown">
	<ngx-table
		[loading]="loading"
		[formControl]="form"
		[data]="data | async"
		[columns]="columns"
		[selectable]="true"
		selectableKey="id"
		[resetFormOnNewData]="false"
		(rowClicked)="rowEmitted($event)"
	>
		<ng-template #radioTmpl let-control let-row="row" let-index="index">
			<input
				type="radio"
				name="control"
				[id]="index"
				[formControl]="control"
				[value]="row.id"
			/>
		</ng-template>
		@if(showDetail) {
		<ng-template #detailRowTmpl let-row let-index="index">
			{{ row | json }}
			{{ index }}
		</ng-template>
		}

		<ngx-table-cell column="firstName" [cypressDataTags]="{ cell: 'cell-tag' }">
			<ng-template #headerTmpl> First name </ng-template>
		</ngx-table-cell>

		<ng-template #loadingTmpl> Loading </ng-template>
	</ngx-table>

	<p>
		{{ form.value | json }}
	</p>
</app-wrapper>

<button (click)="setFormValue()">Set form value</button>
<button (click)="toggleDetailView()">Toggle detail row</button>
<button (click)="toggleDataSet()">Toggle dataset</button>
